# company ABC | AI/Ml Profile | Mumbai

In [1]:
a= [1,2,3,4]
b= [3,4,5,6]
c= [x for x in a if x not in b]
print(c)

[1, 2]

In [7]:
set1= {1,3,5}
set2= {2,4,6}
#print(len(set1 -set2))
#print(set1 -set2)

set3= {1,2,4,6,5}
set4= {2,4,6}
print(len(set3-set4))
print(set3 -set4)

2
{1, 5}

In [10]:
a= {'Hello':'world','first':1}
b={val:k for k, val in a.items()}
print(b)

{'world': 'Hello', 1: 'first'}

In [14]:
set1={1,4,5}
set2={2,4,6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
# we cant use + operation to concatenate two sets ans sets are unordered collection og elements

# to remove this issues we can use  union or | symbol

print(set1 | set2 )

{1, 2, 4, 5, 6}

In [16]:
#6
s="abc"
' '.join('abc')

'a b c'